body{
  margin:0;
  font-family:"Segoe UI", Arial;
  background:#3666ad;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}

.auth-container{
  width:100%;
  display:flex;
  justify-content:center;
}

.auth-card{
  width:350px;
  background:white;
  padding:30px;
  border-radius:12px;
  box-shadow:0 2px 15px rgba(0,0,0,0.2);
  text-align:center;
}

.auth-card h1{
  color:#2a5298;
  margin-bottom:20px;
}

.auth-card input,
.auth-card select{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:6px;
  border:1px solid #ccc;
}

.auth-card button{
  width:100%;
  padding:12px;
  background:#2a5298;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-weight:bold;
  margin-top:10px;
}

.auth-card button:hover{
  background:#1e3c72;
}

.auth-link{
  margin-top:15px;
  font-size:13px;
}

.auth-link a{
  color:#2a5298;
  font-weight:bold;
  text-decoration:none;
}