/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Segoe UI", sans-serif;
}

/* FONDO */

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#2b6cb0,#1e3c72);

}

/* CONTENEDOR */

.login-container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

}

/* TARJETA */

.login-card{

background:#eef1f6;

padding:40px;

border-radius:25px;

width:380px;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

}

/* TITULO */

.login-card h1{

color:#1e3c72;

font-size:34px;

margin-bottom:30px;

}

/* LABEL */

label{

display:block;

margin-top:10px;

margin-bottom:5px;

font-weight:600;

color:#1e3c72;

}

/* INPUT */

input{

width:100%;

padding:14px;

border-radius:12px;

border:1px solid #ccc;

margin-bottom:15px;

font-size:14px;

}

/* BOTON */

button{

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:#2b6cb0;

color:white;

font-size:18px;

cursor:pointer;

margin-top:10px;

}

/* HOVER */

button:hover{

background:#1e4e8c;

}

/* TEXTO REGISTRO */

.register{

text-align:center;

margin-top:20px;

color:#2b6cb0;

}

.register span{

font-weight:bold;

cursor:pointer;

}

/* MENSAJE */

#mensaje{

margin-top:10px;

color:red;

text-align:center;

}

.modal {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: none;

justify-content: center;
align-items: center;

z-index:9999;

}

.modal-content {
background: white;
padding: 30px;
border-radius: 16px;
width: 90%;
max-width: 400px;

text-align: center;

animation: modalShow 0.3s ease;

}

.modal-content h2 {
    margin-bottom: 15px;
    color:#2a5298;

}

.modal-content p {
    margin-bottom: 20px;
    font-size: 16px;

}

.modal-content button {
    padding: 12px 20px;
    border:none;
    border-radius: 10px;
    background: #2a5298;
    color: white;
    font-weight:bold;
    cursor: pointer;
}
.modal-content button:hover {
    background: #1e3c72;
}

#modalActions {
    display: flex;
    justify-content: center;
    gap: 10px;

}

@keyframes modalShow {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}   
